<ion-header>
  <ion-toolbar>
    <ion-title>
    Defintely Not a Fart App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" padding size="large" (click)="commonFart()">Common</ion-button>
  <ion-button expand="block" padding size="large" color="success" (click)="quickFart()">Quick</ion-button>
  <ion-button expand="block" padding size="large" color="tertiary" (click)="sillyFart()">Silly</ion-button>
  <ion-button expand="block" padding size="large" color="danger" (click)="mowerFart()">Mower</ion-button>
  <ion-button expand="block" padding size="large" color="warning" (click)="raspberryFart()">Raspberry</ion-button>
</ion-content>
